html body{
    padding: 0;
    margin:0 ;
    text-align: center;
    margin-top: 30px;
    font-size: 1.0rem;

}
.conteudodiv > h3{
    text-align: left;
    text-indent: 50px;
}

.conteudodiv img{
    margin: 0;
    
}

