html body{
    padding: 0;
    margin:0 ;
    text-align: center;
    margin-top: 30px;
    font-size: 1.1rem;

}
.conteudodiv > ul{
    list-style: circle;
    text-align: left;
}
.conteudodiv > h3{
    text-align: left;
    text-indent: 50px;
}

.conteudodiv figcaption{
    margin-bottom: 50px;
    font-size: 1rem ;
}
.conteudodiv img{
    margin: 0;
}
